<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m appName=biz-deep-crawler %n" />
        </layout>
    </appender>

    <appender name="LOGSTASH" class="org.apache.log4j.net.SocketAppender">
        <param name="Port" value="5044"/>
        <param name="Threshold" value="INFO"/>
        <param name="RemoteHost" value="tcp:192.168.101.10"/> <!-- There is a real adress here ;-) -->
        <param name="ReconnectionDelay" value="5"/>
        <param name="LocationInfo" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n appName=biz-deep-crawler" />
        </layout>
    </appender>

    <root>
<!--        <priority value ="info"></priority>-->
        <appender-ref ref="console"></appender-ref>
<!--        <appender-ref ref="LOGSTASH"></appender-ref>-->
    </root>

</log4j:configuration>